[run]
branch = True
parallel = True
source = orc
data_file = .coverage_data/.coverage
concurrency =
    multiprocessing
    thread

[report]
exclude_lines =
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    pragma: no cover
    @pytest.mark.no_coverage

[html]
directory = htmlcov
